body {
  font-family: monospace !important;
  font-size: 12px !important;
  padding: 10px !important;
  font-weight: 800 !important;
}
.dotted {
  border-bottom: 1px dotted #000;
}
.table {
  border-collapse: collapse;
  margin-top: 10px;
  margin-bottom: 10px;
}
.table td {
  padding: 2px 5px;
}

.company p {
  margin-bottom: 0px !important;
}
